@{ 
    var uid = Guid.NewGuid().ToString();
}
<div id="taskmodule">
    <button class="k-button" role="button" data-bind="events:{ click:OnBtnAddClick }"><span class="glyphicon glyphicon-plus"></span> Добавить задачу</button><br/><br />
    <div id="taskgrid" style="width:100%">

    </div>
    <script id="wnd-add" type="text/x-kendo-template">
        <div class="fieldset row">
            <label class="col-lg-3 col-md-3 col-sm-3" for="elem-1-@uid">Название:</label>
            <div class="col-lg-7 col-md-7 col-sm-7">
                <input class="k-input k-textbox" id="elem-1-@uid" data-bind="value:data.Title" style="width:100%;" maxlength="160" />
            </div>
        </div>
        <div class="fieldset row">
            <label class="col-lg-3 col-md-3 col-sm-3" for="elem-2-@uid">Описание:</label>
            <div class="col-lg-7 col-md-7 col-sm-7">
                <textarea class="k-input k-textbox" id="elem-2-@uid" data-bind="value:data.Description"></textarea>
            </div>
        </div>
        <div class="buttons" style="text-align:right;">
            <button class="k-button" data-bind="events:{ click:OnBtnSave }">Сохранить</button>
            <button class="k-button" data-bind="events:{ click:OnBtnCancel }">Отмена</button>
        </div>
    </script>
</div>
<script>
    $(function () {
        var Module = new TaskList({ $elem: $("#taskmodule") });
        Module.Activate();
    });
</script>