body {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: none !important;
}

textarea {
    resize: none;
    width: 100% !important;
    height: 60px !important;
}

.k-grid-norecords {
    height: 99% !important;
}

.fieldset {
    margin: 10px 0px;
}

    .fieldset label {
        text-align: right;
        padding-top: 7px;
    }

.k-checkbox-label, .k-radio-label {
    padding: 0px !important;
}